body {
    background-color: purple;
}

h1 {
    color: #FFF;
    text-align: center;
    font-size: 4rem;
}

a {
    color: #FFF;
    font-size: 2rem;
    border: 1px solid #FFF;
    padding: 1.5rem
}