<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body style="background-color: grey;">
  <div class="main" style="border: 2px solid; padding: 2rem; display: flex; justify-content: space-around; align-items: baseline;">
    <div class="img" style="border: 2px solid">
      <img src="../static/img.jpg" alt="my photo">
    </div>
    <div class="about" style="border: 2px solid">
      <h1>Name - M.Eran Hasareli</h1>
      <h2>Occupation - Software Developer</h2>
      <h3>Age - 23</h3>
    </div>
  </div>
</body>
</html>